<h1>Editing Ad Website</h1>

<br/>
<%= render 'form', ad_website: @ad_website %>
<br/>
<%= link_to 'Show', @ad_website , class:"btn btn-secondary"%> |
<%= link_to 'Back', ad_websites_path , class:"btn btn-dark"%>
